<!DOCTYPE html>
<html lang="en">
<head>
    <title>Projects</title>
    {{>header}}
    
</head>
<body>
     <!-- header design -->
     <header class="header">
        <a href="#" class="logo">Vaibhav.<span class="animate" style="--i:1;"></span></a>
        <div class="bx bx-menu" id="menu-icon"><span class="animate" style="--i:2;"></span></div>

        <nav class="navbar">
           <a href="/portfolio">Home</a>
           <a href="#" class="active">Portfolio</a>

           <span class="active-nav"></span>
           <span class="animate" style="--i:2;"></span>
        </nav>
    </header>

      <!-- portfolio section design -->
      <section class="portfolio" id="portfolio">   
        <!-- <h2 class="heading">Latest <span>Project</span><span class="animate scroll" style="--i:1;"></span></h2> -->
  
        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="images/portfolio1.jpg" alt="portfolio_1">
                <div class="portfolio-layer">
                    <h4>Mini IMDb Clone</h4>
                    <p>"Search and save favorite movies! View posters, details, and ratings. Built with OMDB API, this web app offers a user-friendly interface for exploring and organizing films. </p>
                    <a href="https://vaibhavshukla8318.github.io/imdb-clone-project/" target="_blank" ><i class="bx bx-link-external"></i></a>
                </div>

            </div>
            <div class="portfolio-box">
                <img src="images/portfolio2.jpg" alt="portfolio_2">
                <div class="portfolio-layer">
                    <h4>Alarm Clock</h4>
                    <p>Alarmify is a web application that lets users set alarms and receive notifications when the alarms are triggered.</p>
                    <a href="https://vaibhavshukla8318.github.io/alarm_project/" target="_blank"><i class="bx bx-link-external"></i></a>
                </div>

            </div>
            <div class="portfolio-box">
                <img src="images/portfolio3.jpg" alt="portfolio_3">
                <div class="portfolio-layer">
                    <h4>Tooltip</h4>
                    <p>The React Tooltip Component is a versatile and user-friendly tooltip solution designed for React applications.</p>
                    <a href="https://vaibhavshukla8318.github.io/tooltip_react" target="_blank"><i class="bx bx-link-external"></i></a>
                </div>

            </div>
            <div class="portfolio-box">
                <img src="images/portfolio4.jpg" alt="portfolio_4">
                <div class="portfolio-layer">
                    <h4>Chat App</h4>
                    <p>This repository contains the source code for a real-time chat application built using React.</p>
                    <a href="https://vaibhavshukla8318.github.io/chat-app/" target="_blank"><i class="bx bx-link-external"></i></a>
                </div>

            </div>
            <div class="portfolio-box">
                <img src="images/portfolio5.jpg" alt="portfolio_5">
                <div class="portfolio-layer">
                    <h4>Contact List</h4>
                    <p>Manage your contracts with ease! This Contract List App, built using React, helps you keep track of all your contracts, their details, and important deadlines.</p>
                    <a href=" https://vaibhavshukla8318.github.io/contact-list/" target="_blank"><i class="bx bx-link-external"></i></a>
                </div>

            </div>
            <div class="portfolio-box">
                <img src="images/portfolio6.jpg" alt="portfolio_6">
                <div class="portfolio-layer">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, eveniet.</p>
                    <a href="#"><i class="bx bx-link-external"></i></a>
                </div>

            </div>
            <div class="portfolio-box">
                <img src="images/portfolio6.jpg" alt="portfolio_6">
                <div class="portfolio-layer">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, eveniet.</p>
                    <a href="#"><i class="bx bx-link-external"></i></a>
                </div>

            </div>
            <div class="portfolio-box">
                <img src="images/portfolio6.jpg" alt="portfolio_6">
                <div class="portfolio-layer">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, eveniet.</p>
                    <a href="#"><i class="bx bx-link-external"></i></a>
                </div>

            </div>
            
        </div>
      </section>

    <script src="js/script.js"></script>
</body>
</html>